.bord {
    color: black;
    border-right: 1px;
}

/* .tittle_style {
    border-bottom: 1px solid rgb(222, 222, 222) !important;
    border-radius: 5px;
    padding: 10px;
}

.nav-link.active {
    border-bottom: 1px solid rgb(241, 254, 144) !important;
    border-radius: 5px;
    background-color: #563d7c !important;
    font-style: bold !important;
    color: rgb(255, 255, 255) !important;
}

.nav-pills .nav-link {
    color: rgb(255, 255, 255) !important;
    background-color: ;
    font
}

.nav-pills .float-right {
    float: right !important;
} */
