{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}
  <div class="container py-5">
    <h3>Web-приложение "PhotoTube"</h3>
    <p>
      Бэкенд для социальной сети. Реализованы следюущие функции:
    </p>
    <ul>
      <li> Администрирование сайта, управление пользователями, сообщениями, группами, подписками.</li>
      <li> Регистрация, авторизация пользователя, сброс пароля по почте.</li>
      <li> Создания поста, включая загрузку изображения, описание и выбор жанра.</li>
      <li> Редактирование поста его автором.</li>
      <li> Оставления комментариев под постами сторонних пользователей.</li>
      <li> Подписка на посты избранных авторов.</li>
      <li> Фильтрация сообщений по группам, пользователям, избранным авторам.</li>
      <li> Пагинация, кэширование страниц</li>
    </ul>
    <p>Кроме того, реализована система тестирования, охватывающая проверку работоспособности перечисленных функций.</p>
    <p>Работа выполнена с использованием языка Python 3.7 и фреймворка Django 2.2.16.</p>
  {% endblock %}
