{% extends "base.html" %}
{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
  <div class="container py-5">
    <h3>Проект <span style="color:red">Ya</span>Tube курса python-разрабочик <span style="color:red">Яндекс</span>Практикума</h3>
    <p>
      Сайт является результатом работы над учебным проектом по теме "Backend на Django" курса python-разрабочик ЯндексПрактикума. Цель проекта заключалась в создании web-приложения, имитирующего общую работу социальной сети. С этой целью в процессе разработки были реализованы следюущие функции:
    </p>
    <ul>
      <li> Администрирование сайта, управление пользователями, сообщениями, группами, подписками.</li>
      <li> Регистрация, авторизация пользователя, сброс пароля, сменя пароля (временно исключена).</li>
      <li> Возможность создания поста, включая загрузку изображения, комментарий и выбор группы.</li>
      <li> Возможность редактирования поста его автором.</li>
      <li> Возможность оставления комментариев под постами сторонних пользователей.</li>
      <li> Возможность подписаться на сообщения избранных авторов и отписаться.</li>
      <li> Фильтрация сообщений по группам, пользователям, избранным авторам с постраничным разбиением и др.</li>
    </ul>
    <p>Кроме того, реализована система тестирования, охватывающая проверку работоспособности перечисленных функций.</p>
    <p>Работа выполнена с использованием языка Python 3.7 и фреймворка Django 2.2.16.</p>
  {% endblock %}
